<?xml version="1.0"?>
<configuration>

  <!-- This is required to tell .NET how to interpret the lightSpeedContexts section -->
  <configSections>
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed" />
  </configSections>

  <!-- Here we configure the database connectivity and other configuration settings -->
  <lightSpeedContexts>
    <add name="パズルドラゴンズ" connectionStringName="パズルドラゴンズ" dataProvider="SqlServer2005" pluralizeTableNames="False" />
  </lightSpeedContexts>

  <!-- The standard connectionStrings section, referred to by lightSpeedContexts > connectionStringName -->
  <connectionStrings>
    <add name="パズルドラゴンズ" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=パズルドラゴンズ;Integrated Security=True;" />
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
